/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Body */

body {
  max-width: 1000px;
  margin: 0 auto;
}
/* Nav Bar */
.headerBox {
  display: flex;
  justify-content: space-evenly;
}
.navBox{
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin: 20px 0px;
}
nav a {
  text-decoration: none;
  padding: 15px 15px ;
  width: 80px;
  margin: 10px 15px;
  color: grey;
}
a:hover{
    color: black;
}
.logo {
  float: left;
  margin: 0 120px 0 0;
}
/* Nav @media */
@media(max-width: 800px){
.headerBox{
  display: flex;
  flex-direction: column;
}
.navBox{
  order: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logoBox{
  display: flex;
  justify-content: center;
  order: -1;
  margin: 0 auto;
}
}
/* Title */
.titleSection {
  display: flex;
  justify-content:space-between;
  width: 100%;
}
.halfWidth {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.titleSection h1 {
  font-size: 90px;
  text-align: center;
}
.titleSection button {
  background: white;
}
.titleSection img {
  padding: 0px 100px 0px 0px;
  float: right;
}
/* Title @media */
@media(max-width: 800px){
.titleSection img{
  display: none;
}
.titleSection{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.halfWidth h1{
  font-size: 60px;
}
.halfWidth{
  display: flex;
  justify-content: center;
  align-items: center;
}
}
/* Mid page */
.flatBox {
  display:flex;
  justify-content: center;
  border: 1px solid;
  width:98%;
  margin: 20px auto;
}
.paragraphs h2 {
  font-size: 20px;
  margin: 0px 20px;
}
.paragraphs {
  font-size: 15px;
  font-weight: bold;
  column-count: 2;
  margin: 10px;
}
.middle-img {
    display: flex;
  width: 98%;
  margin: 20px auto;
}
.bttmPrgphs {
  column-count: 3;
  margin: 20px 0px;
}
.phn {
  margin: 20px 0px;
}
.copyRight {
  margin: 20px;
  text-align: center;
}