/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    /* box-sizing: border-box; */
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}


/* Nav Bar */
.headerBox {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.navBox{
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    margin: 20px 0;
    
}
nav a {
  text-decoration: none;
  padding: 15px 10px;
  width: 80px;
  color: grey;
}
a:hover{
    color: black;
}

/* Nav @media 800 */
@media(max-width: 800px){
.headerBox{
  display: flex;
  flex-direction: column;
}
.navBox{
  display: flex;
  justify-content: center;
  align-items: center;
}
.logoBox{
  display: flex;
  justify-content: center;
  order: -1;
  margin: 0 auto;
}
}
/* Nav @media 500 */
@media(max-width: 500px){
  
  .headerBox{
    display: flex;
    flex-direction: column;
  }
  .navBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
  }
  .navBox a{
    box-shadow: 1px  solid black;
    border-bottom: 1px solid lightgrey;
  }
  .logoBox{
    display: flex;
    justify-content: center;
    order: -1;
    margin: 0 auto;
    border-bottom: 1px solid lightgrey;
  }
}
/* Title */
.titleSection {
  display: flex;
  justify-content:space-evenly;
  width: 100%;
}
.halfWidth {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin:0 auto;
}
.titleSection h1 {
  font-size: 90px;
  text-align: center;
}
.titleSection button {
  background: white;
}
.titleSection img {
  margin:0 auto;
}
.halfWidth button{
  width: 150px;
  height: 30px;
  border: 1px solid lightgrey;
  cursor: pointer;
}
.titleSection button:hover{
  border: 1px solid black;
}
/* Title @media 800 */
@media(max-width: 800px){
.titleSection img{
  display: none;
}
.titleSection{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.halfWidth h1{
  font-size: 60px;
}
.halfWidth{
  display: flex;
  justify-content: center;
  align-items: center;
}
}
/* Mid page */
.flatBox {
  display:flex;
  justify-content: center;
  border: 1px solid;
  width:98%;
  margin: 20px auto;
}
.paragraphs h2 {
  font-size: 20px;
  margin: 0px 20px;
}
.paragraphs {
  font-size: 15px;
  font-weight: bold;
  column-count: 2;
  margin: 10px;
}
/* Mid and bottom page @media 500 */
@media(max-width: 500px){
.paragraphs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:10px auto;
}
.paragraphs h2{
  margin:10px auto;
}
.paragraphsBox{
  display: flex;
  justify-content: center;
  align-items: center;
}
.bttmPrgphs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}
.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
}
/* Bottom page */
.middle-img {
  display: flex;
  width: 98%;
  margin: 20px auto;
}
.bttmPrgphs {
  column-count: 3;
  margin: 20px 0px;
  font-weight: bold;
}
.footer{
  display: flex;
  justify-content: flex-start
}
.copyRight {
  margin: 20px;
  text-align: center;
}
/* About Page Nav */
.headerAbout  {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline; 
}
.lambdaLogo{
  display: flex;
}
.imgBox{
  margin: 20px 0;
  display: flex;
}
.imgBox img{
  width: 100%;
}
.navBarAbout {
  padding: 40px 0 0 0;
  margin: 0 10px;
  font-size: 15px; 
}
.navBarAbout a {
  padding: 20px 30px;
  text-decoration: none;
  color: black;
}
/* About Page @media800 Nav */
@media(max-width: 800px){
.headerAbout{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
}
/* About Page @media500 Nav  */
@media(max-width: 500px){
.headerAbout{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 0 auto;
}
.navBarAbout{
   display: flex;
   flex-direction: column;
}
}
/* About Page Mid */
.aboutBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.aboutBox h2{
  font-size: 20px;
}
.boxesBox {
  display: flex; 
  flex-flow: wrap;
  justify-content: center;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45%;
  margin: 20px auto;
}
.box p{
  text-align: center;
}
.box button{
  background: white;
  border: 1px solid lightgrey;
}
.bottomBox {
  margin: 20px;
  text-align: center;
}
/* Footer */
footer {
  width: 100%;
  /* background: black; */
  display: flex;
  justify-content: center;
}

footer nav {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 2%;
  font-size: 14px;
}

footer nav a {
  color: white;
  text-decoration: none;
  background: none;
}